In [40]:
import pandas as pd
data = pd.read_csv("C:MISSING_DATASET_HANDLING.csv",encoding='latin1')
print(data.isnull().sum())
print(data["YEAR_ID"].mode())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 7
QTR_ID                 7
MONTH_ID               7
YEAR_ID               54
PRODUCTLINE          196
MSRP                  60
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                 93
ADDRESSLINE1         242
ADDRESSLINE2        2544
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1077
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64
0    2004.0
Name: YEAR_ID, dtype: float64

In [41]:
data["MSRP"] = data["MSRP"].fillna(data["MSRP"].median())
data["YEAR_ID"] = data["YEAR_ID"].fillna(data["YEAR_ID"].mode()[0])
print(data.isnull().sum())
print(data.mode())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 7
QTR_ID                 7
MONTH_ID               7
YEAR_ID                0
PRODUCTLINE          196
MSRP                   0
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                 93
ADDRESSLINE1         242
ADDRESSLINE2        2544
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1077
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER   SALES  \
0        10106             34.0      100.0              1.0  3003.0
1        10159              NaN        NaN              NaN     NaN
2        10165              NaN        NaN              NaN     NaN
3        10168              NaN        NaN              NaN     NaN
4        10222              NaN        NaN              NaN     NaN
5        10275              NaN        NaN              NaN     NaN
6        10316              NaN        NaN              NaN     NaN
7        10332              NaN        NaN              NaN     NaN
8        10386              NaN        NaN              NaN     NaN
9        10398              NaN        NaN              NaN     NaN

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0  11/14/2003 0:00  Shipped     4.0      11.0   2004.0  ...
1              NaN      NaN     NaN       NaN      NaN  ...
2              NaN      NaN     NaN       NaN      NaN  ...
3              NaN      NaN     NaN       NaN      NaN  ...
4              NaN      NaN     NaN       NaN      NaN  ...
5              NaN      NaN     NaN       NaN      NaN  ...
6              NaN      NaN     NaN       NaN      NaN  ...
7              NaN      NaN     NaN       NaN      NaN  ...
8              NaN      NaN     NaN       NaN      NaN  ...
9              NaN      NaN     NaN       NaN      NaN  ...

         ADDRESSLINE1  ADDRESSLINE2    CITY STATE POSTALCODE COUNTRY  \
0  C/ Moralzarzal, 86       Level 3  Madrid    CA      28034     USA
1                 NaN           NaN     NaN   NaN        NaN     NaN
2                 NaN           NaN     NaN   NaN        NaN     NaN
3                 NaN           NaN     NaN   NaN        NaN     NaN
4                 NaN           NaN     NaN   NaN        NaN     NaN
5                 NaN           NaN     NaN   NaN        NaN     NaN
6                 NaN           NaN     NaN   NaN        NaN     NaN
7                 NaN           NaN     NaN   NaN        NaN     NaN
8                 NaN           NaN     NaN   NaN        NaN     NaN
9                 NaN           NaN     NaN   NaN        NaN     NaN

  TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      EMEA          Freyre            Diego   Medium
1       NaN             NaN              NaN      NaN
2       NaN             NaN              NaN      NaN
3       NaN             NaN              NaN      NaN
4       NaN             NaN              NaN      NaN
5       NaN             NaN              NaN      NaN
6       NaN             NaN              NaN      NaN
7       NaN             NaN              NaN      NaN
8       NaN             NaN              NaN      NaN
9       NaN             NaN              NaN      NaN

[10 rows x 25 columns]

In [42]:
data["STATUS"].fillna(data["STATUS"].mode()[0],inplace=True)
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 0
QTR_ID                 7
MONTH_ID               7
YEAR_ID                0
PRODUCTLINE          196
MSRP                   0
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                 93
ADDRESSLINE1         242
ADDRESSLINE2        2544
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1077
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64

C:\Users\pc\AppData\Local\Temp\ipykernel_11516\2466273632.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["STATUS"].fillna(data["STATUS"].mode()[0],inplace=True)

In [43]:
data["PHONE"].fillna("unknown",inplace=True)
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 0
QTR_ID                 7
MONTH_ID               7
YEAR_ID                0
PRODUCTLINE          196
MSRP                   0
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                  0
ADDRESSLINE1         242
ADDRESSLINE2        2544
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1077
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64

In [17]:
data = data.drop(columns=["ADDRESSLINE2"])
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                 32
ADDRESSLINE1          48
CITY                   0
STATE               1352
POSTALCODE            66
COUNTRY                0
TERRITORY            964
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [18]:
data = data.dropna(subset=["ORDERDATE","PRODUCTLINE"])
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                 32
ADDRESSLINE1          48
CITY                   0
STATE               1352
POSTALCODE            66
COUNTRY                0
TERRITORY            964
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64