In [7]:
import pyjokes as pj
print(pj.get_joke())

The box said: 'install on Windows 95, NT 4.0 or better'. So I installed it on Linux.

In [27]:
# one-dimensional labeled array.
import pandas as pd
s = pd.Series([10,20,30,40], index = ["w","x", "y", "z"])
print(s)
print(s["w"])

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day3"])

print(myvar)

w    10
x    20
y    30
z    40
dtype: int64
10
day1    420
day3    390
dtype: int64

In [9]:
# Data frame
data = {'Name':['Alice','Bob'],'Age':[25,30]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [ ]:
data = {'Name':['Alice','Bob','Ayush','Govind','Kunulal'],'Score':[25,30,99,98,97]}
df = pd.DataFrame(data,index=["a","b","c","d","e"])
#print(df.head())

print(df.head(3))
print(df.tail(3))

Name     Alice
Score       25
Name: 0, dtype: object
    Name  Score
0  Alice     25
1    Bob     30
2  Ayush     99
    Name  Score
0  Alice     25
1    Bob     30
2  Ayush     99
      Name  Score
2    Ayush     99
3   Govind     98
4  Kunulal     97

In [20]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [28]:
# describing dataframe
df.describe()

            Age
count   5.00000
mean   69.80000
std    38.66135
min    25.00000
25%    30.00000
50%    97.00000
75%    98.00000
max    99.00000

In [29]:
print(df.columns)

Index(['Name', 'Age'], dtype='object')

In [68]:
print(df.shape)
print(df.iloc[0])
print(df.iloc[0:3])

(5, 2)
Name     Alice
Score       25
Name: 0, dtype: object
    Name  Score
0  Alice     25
1    Bob     30
2  Ayush     99

In [96]:
data = {'Name':['Alice','Bob','Ayush','Govind','Kunulal'],'Score':[30,30,99,98,None]}
df = pd.DataFrame(data,index=["a","b","c","d","e"])
# print(df.isnull())
# dropna() remove rows (or columns) that contain missing values(NaN).
# df.dropna()
# print(df.dropna())

In [101]:

df['Score'].fillna(df['Score'].mean(),inplace=True)
print(df)

      Name  Score
a    Alice  30.00
b      Bob  30.00
c    Ayush  99.00
d   Govind  98.00
e  Kunulal  64.25

C:\Users\pc\AppData\Local\Temp\ipykernel_3516\685815094.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(df['Score'].mean(),inplace=True)